*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  font-size: 10px;

}

.container {
width:100%;
margin: 0px auto;
display: inline-block
}




h1 {
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom:2em;
}

h3 {
  position: absolute;
  padding: 5%;
  font-size: 1.5em;
  font-weight: 300;
  display: block;
}

img {
  box-sizing: border-box;
  width: 375px;
  display: block;

}

@media screen and (min-width: 575px) /*IPAD*/
{

    img {
        width: 50%;
        display: inline-block;
      }
      h3
      {
        display: inline-block;
        float:left;
        width: 50%;
        font-size: 2em;
      }

  }


  @media screen and (min-width: 991px) /*desktop*/
  {
    .Preview {
        width: 25%;
        float: left;
        display: inline-block;
      }

    }
