*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  font-size: 75%;

}

.container {
width:100%;
display: inline-block
}


h1 {
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.2em;
  padding-bottom:2em;
}

h3 {
  position: absolute;
  padding: 2.5%;
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-bottom: 5%;


}

@media screen and (min-width: 575px) /*IPAD*/
{
.container
{width: 80%;}

    .preview {
        width: 50%;
        display: inline-block;
      }
      .Baku
      {
          width: 50%;
          display: inline-block;
        }
      .London
      {   float: right;
          width: 50%;
          display: inline-block;
        }
      .Madrid
      {
          float: right;
          width: 50%;
          display: inline-block;
        }
      .Rome
      {
          width: 50%;
          display: inline-block;
        }

      h3
      {
        display: inline-block;
        float:left;
        width: 50%;
        font-size: 2em;
      }
      h1 {
        font-size: 2em
        text-align: center;
    }


  }



/*not working on desktop view right now only ipad and iphone*/
  @media screen and (min-width: 991px) /*desktop*/
  {
    .Preview {
        width: 25%;
        float: left;
        display: inline-block;
      }

    }
