*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  font-size: 75%;
}

.container {
width:100%;
display: inline-block
}


h1 {
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.2em;
  padding-bottom:2em;
}

h3 {
  position: absolute;
  padding: 3%;
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
}

.preview {
    width: 100%;
    display: inline-block;
    }

  .baku {
    background-image: url("/images/baku.jpg");
    width: 100%;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;

    }

  .london {
    background-image: url("/images/london.png");
    width: 100%;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    }

  .madrid {
    background-image: url("/images/madrid.jpg");
    width: 100%;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    }

  .rome{
    background-image: url("/images/rome.jpg");
    width: 100%;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    }


@media screen and (min-width: 420px)/*IPAD*/ {

    .container{
      max-width: 80%;

    }

    .preview {
        width: 48%;
        display: inline-block;
        margin: 1%;

      }

      h3
      {
        display: inline-block;
        float:left;
        width: 50%;
        font-size: 2em;
      }
      h1 {
        font-size: 2em
        text-align: center;
    }


  }



/*not working on desktop view right now only ipad and iphone*/
  @media screen and (min-width: 991px) /*desktop*/
{
  .container{
    max-width: 50%;}

  .preview {
      width: 25%;
      display: inline-block;
      padding 5%;

    }
}
    h3
    {
      display: inline-block;
      float:left;
      width: 50%;
      font-size: 2em;
    }
    h1 {
      font-size: 2em
      text-align: center;
  }

}
